body{
  display: flex;
  justify-content: center;
}
.container {
  min-width: 600px;
  min-height: 500px;
  margin:auto;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  display: block;
  margin-top: 5px;
}

.btn-submit {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}
